.home {
    background-color: #F7F2FF;
}
.title {
    font-size: 5rem;
    font-weight: bold;
    color: #000526;
    text-align: center;
}

.description {
    font-size: 3rem;
    color: #000526;
    text-align: center;
}

@media (max-width: 768px) {
    .title {
        font-size: 3rem;
    }
    .description {
        font-size: 1.5rem;
    }
}

/* .image {
    overflow: hidden;
}

.image img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 40%;
} */

.description-b::after {
    content: "Full Stack Developer";
    color: #6347FA;
    animation: changeContent 10s infinite, fadeInOut 10s infinite;
}

@keyframes changeContent {
    0%, 25% {
        content: "Full Stack Developer";
    }
    26%, 50% {
        content: "Software Engineer";
    }
    51%, 75% {
        content: "Software Engineer";
    }
    76%, 100% {
        content: "Full Stack Developer";
    }
}

@keyframes fadeInOut {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

.description-b:hover::after {
    content: "Software Engineer";
    color: #6347FA;
}

.social-media {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #000526;
    display: flex;
    align-items: center;
    justify-content: center;
}

