.home {
    background-color: #F7F2FF;
}
.title {
    font-size: 5rem;
    font-weight: bold;
    color: #000526;
    text-align: center;
}

.description {
    font-size: 3rem;
    color: #000526;
    text-align: center;
}

@media (max-width: 768px) {
    .title {
        font-size: 3rem;
    }
    .description {
        font-size: 1.5rem;
    }
}


/* @keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes textChange {
    0%, 10% {
        content: "I";
    }
    11%, 12% {
        content: "I a";
    }
    13%, 14% {
        content: "I am "
    }
    15%, 16% {
        content: "I am a "
    }
    17%, 18% {
        content: "I am a F"
    }
    19%, 20% {
        content: "I am a Fu"
    }
    21%, 22% {
        content: "I am a Ful"
    }
    23%, 24% {
        content: "I am a Full"
    }
    25%, 26% {
        content: "I am a Fulls"
    }
    27%, 28% {
        content: "I am a Fullst"
    }
    29%, 30% {
        content: "I am a Fullsta"
    }
    31%, 32% {
        content: "I am a Fullstac";
    }
    33%, 34% {
        content: "I am a Fullstack";
    }
    35%, 36% {
        content: "I am a Fullstack ";
    }
    37%, 38% {
        content: "I am a Fullstack D";
    }
    39%, 40% {
        content: "I am a Fullstack De";
    }
    41%, 42% {
        content: "I am a Fullstack Dev";
    }
    43%, 44% {
        content: "I am a Fullstack Deve";
    }
    45%, 46% {
        content: "I am a Fullstack Devel";
    }
    47%, 48% {
        content: "I am a Fullstack Develo";
    }
    49%, 50% {
        content: "I am a Fullstack Develop";
    }
    51%, 52% {
        content: "I am a Fullstack Develope";
    }
    53%, 54% {
        content: "I am a Fullstack Developer";
    }
    55%, 56% {
        content: "I am a Fullstack Developer";
    }
    57%, 58% {
        content: "I am a Fullstack Develope";
    }
    59%, 60% {
        content: "I am a Fullstack Develop";
    }
    61%, 62% {
        content: "I am a Fullstack Develo";
    }
    63%, 64% {
        content: "I am a Fullstack Devel";
    }
    65%, 66% {
        content: "I am a Fullstack Dev";
    }
    67%, 68% {
        content: "I am a Fullstack De";
    }
    69%, 70% {
        content: "I am a Fullstack D";
    }
    71%, 72% {
        content: "I am a Fullstack";
    }
    73%, 74% {
        content: "I am a Fullstac";
    }
    75%, 76% {
        content: "I am a Fullsta";
    }
    77%, 78% {
        content: "I am a Fullst";
    }
    79%, 80% {
        content: "I am a Fulls";
    }
    81%, 82% {
        content: "I am a Full";
    }
    83%, 84% {
        content: "I am a Ful";
    }
    85%, 86% {
        content: "I am a Fu";
    }
    87%, 88% {
        content: "I am a F";
    }
    89%, 90% {
        content: "I am a Software Engineer";
    }
    91%, 92% {
        content: "I am a Software Engineer";
    }
    93%, 94% {
        content: "I am a Software Engineer";
    }
    95%, 96% {
        content: "I am a Software Engineer";
    }
    97%, 98% {
        content: "I am a Software Engineer";
    }
    99%, 100% {
        content: "I am a Software Engineer";
    }
}

.description::after {
    content: "I am a";
    white-space: pre;
    overflow: hidden;
    border-right: .15em solid black;
    animation: typing 5s steps(30, end), blink-caret .75s step-end infinite, textChange 10s infinite;
} */

.image {
    width: 100%;
    height: 60%;
    
}
.image img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

.description-b::after {
    content: "Full Stack Developer";
    color: #6347FA;
}
.description-b:hover::after {
    content: "Software Engineer";
    color: #6347FA;
}

