#navbar {
    background: linear-gradient(to bottom, #CCB9FF, #F7F2FF);
}

#navbar-item {
    text-decoration: none;
    color: #000526;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
}

#navbar-item:hover {
    color: #000526;
}

#navbar-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000526;
    transition: width 0.3s ease-out;
}

#navbar-item:hover::after {
    width: 100%;
}

